.idea
coverage
node_modules
unit_coverage
bower_components
typings
server/cert/
client/dist/
newrelic_agent.log
npm-debug.log
*.js.map
*.css.map
*.pem
client/dev/marvel-app/**/*.js
!client/dev/marvel-app/libs/*.js

old.tests/client/**/*.js
client/dev/**/*.css
