<div class="single-hero-page comicvine-hero-page">
  <div class="hero-presentation">
<div class="hero-name"
    parallax [config]="{parallaxInitVal: 0, parallaxRatio: -.15,parallaxCss: 'backgroundPositionY'}"
     [ngStyle]="{'background-image': 'url(' + character.image?.super_url + ')'}"
>
</div>
  <section class="hero-description-wiki">

    <div class="hero-description-wiki-text">
      <span class="hero-name-text">{{character.name}}</span>
      <p><strong>Publisher: </strong>{{character.publisher?.name}}</p>
      <p><strong>Comicvine: </strong><a target="_blank" href="{{character.site_detail_url}}">{{character.name}}</a></p>
      <p><strong>Real Name: </strong>{{character.real_name}}</p>
      <p><strong>Nb of Appearances: </strong>{{character.count_of_issue_appearances}}</p>
      <p><strong>Aliases: </strong>{{character.aliases}}</p>
    </div>
  </section>
  </div>
<section class="hero-description">

  <h2 class="description-summary">
    <hr class="divider">
{{character.deck}}
    <hr class="divider">
  </h2>

  <section class="layout-single-column">
    <div class="bio" [innerHTML]="character.description | loadImages | makeComicvineLinks"></div>

  </section>

</section>
</div>
<go-back-up></go-back-up>
