.characters-list,.comics-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  .single-hero-link,.single-comic-link {
    position: relative;
    flex: 0 0 100%;
    text-align: center;
    flex-grow: 1;
    transition: 0.2s all ease-in-out;
    &.not-visible {
      display: none;
    }
    &.visible {
      display: block;
    }
    @include medium-only {
      flex: 0 0 33%;
    }
    @include large-only {
      flex: 0 0 20%;
    }
    @include very-large-only {
      flex: 0 0 16.6%;
    }
    .character-link,.comic-link {
      display: block;
      overflow: hidden;
    }
    img {
      transition: 0.5s all linear;
      filter: grayscale(100%);
      width: 100%;
      height: 300px;
      vertical-align: bottom;
    }
    h3 {
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-property: opacity, background, color;
      font-size: 14px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;
      max-width: 100%;
      @include bg-text-alt(0.8);
      color: #222;
      margin-bottom: 0;
      padding: 10px 0;
    }
    &:hover {
      z-index: 5;
      width: 100%;
      img {
        transform: scale(1.1) rotate(1deg);
        filter: grayscale(0);
      }
      h3 {
        opacity: 1;
        z-index: 5;
        background: $background-secondary;
        @include bg-text-alt(1);
        color: $text-alt;
        &:hover{
          color: $darkblue;
        }
      }
    }
  }
}


.comics-list {
  .single-comic-link {
    flex: 0 0 50%;
    @include medium-only {
      flex: 0 0 33.3%;
    }
    @include large-only {
      flex: 0 0 20%;
    }
    @include very-large-only {
      flex: 0 0 10%;
    }

  }
}

.no-hero-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100%;
    max-width: 400px;
  }
}
