
<nav class="navigation">
  <div (click)="toggleNavigation()" [class.open]="isVisible" class="toggle-navigation">
    <span class="navigation-text">Navigation</span>
    <span class="icon icon-wolverine-claws"></span></div>
  <ul class="navigation-links">
    <li>
      <a href="#" [routerLink]="['Homepage']"><span class="icon icon-marvel-logo"></span> Homepage (marvelapi)</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicvineCharsMarvel']"><span class="icon icon-comicvine"></span> Marvel</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicvineCharsDC']"><span class="icon icon-comicvine"></span> DC</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicvineCharsTopCow']"><span class="icon icon-comicvine"></span> Other Comics</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicsPage']"><span class="icon icon-books"></span> comics</a>
    </li>
    <!--<li>-->
      <!--<a href="#" [routerLink]="['MemoryGame']"><span class="icon icon-books"></span> Memory Game</a>-->
    <!--</li>-->
  </ul>
</nav>
