<nav class="navigation">
  <ul>
    <li>
      <a href="#" [routerLink]="['Homepage']"><span class="icon icon-marvel-logo"></span> Homepage (marvelapi)</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicvineCharsMarvel']"><span class="icon icon-comicvine"></span> comicvine Marvel</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicvineCharsDC']"><span class="icon icon-comicvine"></span> comicvine DC</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicvineCharsTopCow']"><span class="icon icon-comicvine"></span> comics Top Cow</a>
    </li>
    <li>
      <a href="#" [routerLink]="['ComicsPage']"><span class="icon icon-books"></span> comics</a>
    </li>
    <li>
      <a href="#" [routerLink]="['MemoryGame']"><span class="icon icon-books"></span> Memory Game</a>
    </li>
  </ul>
</nav>
