<div class="characters-list">
  <div class="single-hero-link" *ngFor="#character of characters;#idx = index"  #heroInGrid  (mouseenter)="changeTitleColorOnHover(idx,$event)">
  <a  class="character-link" [routerLink]="['CharacterDetail',{id:character.character.id}]">
      <img  crossOrigin="anonymous" src="{{character.character.thumbnail.path}}.{{character.character.thumbnail.extension}}"/>

      <h3 class="name" style="background-color:{{character.dominantColor}}" >{{character.character.name}} </h3>
    </a>
  </div>
</div>
