/*==============================
=            KNACSS            =
==============================*/
/*!
* www.KNACSS.com V4.4.5 (1er avril 2016) @author: Raphael Goetter, Alsacreations
* Licence WTFPL http://www.wtfpl.net/
*/
/* ----------------------------- */
/* ==desktop and HD devices      */
/* ----------------------------- */
@import url(../../assets/fonts/icons/icon.css);
@media (min-width: 961px) {
  /* rules for big resources and big screens like: background-images, font-faces, etc. */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  /* style adjustments for high density devices */
}

/* ---------------------------------- */
/* ==Responsive large                 */
/* ---------------------------------- */
@media (min-width: 961px) {
  /* layouts for large screens */
  .large-hidden {
    display: none !important;
  }
  .large-visible {
    display: block !important;
  }
  .large-no-float {
    float: none;
  }
  .large-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .large-row {
    display: table;
    table-layout: fixed;
    width: 100% !important;
  }
  .large-col {
    display: table-cell;
    vertical-align: top;
  }
  /* widths for large screens */
  .large-w25 {
    width: 25% !important;
  }
  .large-w33 {
    width: 33.3333% !important;
  }
  .large-w50 {
    width: 50% !important;
  }
  .large-w66 {
    width: 66.6666% !important;
  }
  .large-w75 {
    width: 75% !important;
  }
  .large-w100,
  .large-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for large screens */
  .large-man,
  .large-ma0 {
    margin: 0 !important;
  }
}

/* ---------------------------------- */
/* ==Responsive medium                */
/* ---------------------------------- */
@media (min-width: 641px) and (max-width: 960px) {
  /* layouts for medium screens */
  .medium-hidden {
    display: none !important;
  }
  .medium-visible {
    display: block !important;
  }
  .medium-no-float {
    float: none;
  }
  .medium-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .medium-row {
    display: table;
    table-layout: fixed;
    width: 100% !important;
  }
  .medium-col {
    display: table-cell;
    vertical-align: top;
  }
  /* widths for medium screens */
  .medium-w25 {
    width: 25% !important;
  }
  .medium-w33 {
    width: 33.3333% !important;
  }
  .medium-w50 {
    width: 50% !important;
  }
  .medium-w66 {
    width: 66.6666% !important;
  }
  .medium-w75 {
    width: 75% !important;
  }
  .medium-w100,
  .medium-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for medium screens */
  .medium-man,
  .medium-ma0 {
    margin: 0 !important;
  }
}

/* ---------------------------------- */
/* ==Responsive small                 */
/* ---------------------------------- */
@media (min-width: 321px) and (max-width: 640px) {
  /* quick reset in small resolution and less */
  .w600p,
  .w700p,
  .w800p,
  .w960p,
  .mw960p {
    width: auto;
    float: none;
  }
  /* layouts for small screens */
  .small-hidden {
    display: none !important;
  }
  .small-visible {
    display: block !important;
  }
  .small-no-float {
    float: none;
  }
  .small-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .small-row {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
  }
  .small-col {
    display: table-cell !important;
    vertical-align: top !important;
  }
  /* widths for small screens */
  .small-w25 {
    width: 25% !important;
  }
  .small-w33 {
    width: 33.3333% !important;
  }
  .small-w50 {
    width: 50% !important;
  }
  .small-w66 {
    width: 66.6666% !important;
  }
  .small-w75 {
    width: 75% !important;
  }
  .small-w100,
  .small-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for small screens */
  .small-man,
  .small-ma0 {
    margin: 0 !important;
  }
  .small-pan,
  .small-pa0 {
    padding: 0 !important;
  }
}

/* ---------------------------------- */
/* ==Responsive tiny                  */
/* ---------------------------------- */
@media (max-width: 320px) {
  /* quick small resolution reset */
  .mod,
  .col,
  fieldset {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  .flex-container {
    flex-direction: column;
  }
  .w300p,
  .w400p,
  .w500p {
    width: auto;
    float: none;
  }
  .row {
    display: block !important;
    width: 100% !important;
  }
  /* layouts for tiny screens */
  .tiny-hidden {
    display: none !important;
  }
  .tiny-visible {
    display: block !important;
  }
  .tiny-no-float {
    float: none;
  }
  .tiny-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .tiny-row {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
  }
  .tiny-col {
    display: table-cell !important;
    vertical-align: top !important;
  }
  th,
  td {
    display: block;
    width: auto;
    text-align: left;
  }
  thead {
    display: none;
  }
  /* widths for tiny screens */
  .tiny-w25 {
    width: 25% !important;
  }
  .tiny-w33 {
    width: 33.3333% !important;
  }
  .tiny-w50 {
    width: 50% !important;
  }
  .tiny-w66 {
    width: 66.6666% !important;
  }
  .tiny-w75 {
    width: 75% !important;
  }
  .tiny-w100,
  .tiny-wauto {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }
  /* margins for tiny screens */
  .tiny-man,
  .tiny-ma0 {
    margin: 0 !important;
  }
  .tiny-pan,
  .tiny-pa0 {
    padding: 0 !important;
  }
}

/*=====  End of KNACSS  ======*/
/*===============================
=            HELPERS            =
===============================*/
/* ~~~~~~~~~~~~~~~~~ */
/* RESPONSIVE MIXINS */
/* ~~~~~~~~~~~~~~~~~ */
.single-hero-page .hero-description-wiki:after {
  content: "";
  display: table;
  clear: both;
}

.single-hero-page .hero-name, .single-hero-page .hero-description-wiki-text, .comicvine-hero-page .hero-description-wiki-text {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

/*=====  End of HELPERS  ======*/
/*============================
=            BASE            =
============================*/
html {
  line-height: 1.4;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-family: Oxygen;
  font-weight: regular;
  font-size: 16px;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: 'League Gothic', 'Oxygen', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #006ea0;
  text-decoration: none;
}

hr {
  border: 0;
  width: 80%;
  color: #ddd;
  background-color: #ddd;
  height: 1px;
}

[data-page="single-page"] .marvel-app {
  background-color: #f4f5f6;
  background-color: #f4f5f6;
  color: #333;
  margin: 0 auto;
}

.layout-single-column {
  width: calc(100%/12*8);
  margin: 0 auto;
}

button, input {
  font-size: 16px;
}

@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url("assets/fonts/Oxygen/Oxygen-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url("assets/fonts/Oxygen/Oxygen-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url("assets/fonts/Oxygen/Oxygen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Building';
  src: url("assets/fonts/Building_Typeface.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("assets/fonts/league-gothic/leaguegothic-italic-webfont.eot");
  src: url("assets/fonts/league-gothic/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/league-gothic/leaguegothic-italic-webfont.woff") format("woff"), url("assets/fonts/league-gothic/leaguegothic-italic-webfont.ttf") format("truetype"), url("assets/fonts/league-gothic/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("assets/fonts/league-gothic/leaguegothic-regular-webfont.eot");
  src: url("assets/fonts/league-gothic/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/league-gothic/leaguegothic-regular-webfont.woff") format("woff"), url("assets/fonts/league-gothic/leaguegothic-regular-webfont.ttf") format("truetype"), url("assets/fonts/league-gothic/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Condensed */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("assets/fonts/league-gothic/leaguegothic-condensed-regular-webfont.eot");
  src: url("assets/fonts/league-gothic/leaguegothic-condensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/league-gothic/leaguegothic-condensed-regular-webfont.woff") format("woff"), url("assets/fonts/league-gothic/leaguegothic-condensed-regular-webfont.ttf") format("truetype"), url("assets/fonts/league-gothic/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Condensed Italic */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("assets/fonts/league-gothic/leaguegothic-condensed-italic-webfont.eot");
  src: url("assets/fonts/league-gothic/leaguegothic-condensed-italic-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/league-gothic/leaguegothic-condensed-italic-webfont.woff") format("woff"), url("assets/fonts/league-gothic/leaguegothic-condensed-italic-webfont.ttf") format("truetype"), url("assets/fonts/league-gothic/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg") format("svg");
  font-weight: normal;
  font-style: italic;
}

/*============================
=            Modules        =
============================*/
.graph {
  display: block;
  overflow-y: scroll;
}

.title {
  text-align: center;
  font-size: 3rem;
  padding: 6rem 0;
  font-weight: bold;
  background-color: black;
  margin: 0em;
  position: relative;
  height: 160px;
  overflow: hidden;
}

.title .overlay {
  position: absolute;
  padding: 3rem;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  letter-spacing: .5rem;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

.title a {
  color: #F4F5F6;
}

@media (min-width: 641px) {
  .title {
    font-size: 6rem;
    height: 227px;
  }
}

@media (min-width: 961px) {
  .title {
    font-size: 8.5rem;
    height: 312px;
  }
  .title .overlay {
    position: absolute;
    padding: 6rem;
  }
}

@media (min-width: 1281px) {
  .title {
    font-size: 8.5rem;
    height: 342px;
  }
  .title .overlay {
    position: absolute;
    padding: 6rem;
  }
}

.title:hover .subtitle {
  color: #F11F22;
}

.title .marvel {
  display: inline-block;
  width: 94px;
  text-indent: -9999px;
  background-image: url("assets/images/marvel-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (min-width: 641px) {
  .title .marvel {
    width: 153px;
  }
}

@media (min-width: 961px) {
  .title .marvel {
    width: 220px;
  }
}

.title .subtitle {
  transition: color 1s ease;
  font-size: 1.3rem;
  text-align: center;
}

@media (min-width: 961px) {
  .title .subtitle {
    margin-top: 0px;
    line-height: 0px;
  }
}

.title .video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.small-header .title {
  margin: 0;
  text-align: left;
  height: auto;
  padding: 1rem 1rem;
}

.small-header .title:before, .small-header .title:after {
  content: ' ';
  display: table;
}

.small-header .title .overlay {
  position: static;
  font-size: 2rem;
  padding: 0;
}

.small-header .title .video {
  display: none;
}

.small-header .title .subtitle {
  line-height: 2rem;
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

.small-header .marvel {
  width: 80px;
}

.navigation {
  background-color: rgba(0, 5, 10, 0.9);
}

.navigation ul {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.navigation ul li a {
  display: block;
  color: #BAC9D4;
}

.navigation ul li a .icon {
  margin-right: 10px;
}

.navigation ul li a .icon:before {
  font-size: 20px;
}

.search-view-container {
  font-size: 16px;
}

.search-view-container form {
  position: relative;
}

.search-view-container .search-box {
  display: block;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 5, 10, 0.9);
  border: none;
  box-shadow: 0px 3px 3px rgba(0, 10, 20, 0.3) inset;
  color: #BAC9D4;
  outline: none;
}

.search-view-container .loader-icon {
  display: none;
  position: absolute;
  top: 1em;
  right: 2%;
  color: #4E8BB3;
}

.search-view-container .loader-icon.active {
  display: block;
}

.search-view-container .loader-icon:after {
  padding-left: 1em;
  content: 'loading...';
}

.filter-title {
  cursor: pointer;
  padding: 1.5rem;
  margin: 0;
  border-bottom: 1px solid rgba(0, 10, 20, 0.1);
}

.filter-title.open .icon:before {
  transform: rotate(180deg);
}

.filter-title .icon {
  float: right;
}

.filter-title .icon:before {
  transition: .3s all ease;
  color: #3B7092;
  font-size: 20px;
}

.filter-view-container {
  max-height: 0;
  position: relative;
  background-color: #F4F5F6;
  border: none;
  box-shadow: 0px -3px 3px rgba(0, 10, 20, 0.1) inset;
  outline: none;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}

.filter-view-container.visible {
  max-height: 2800px;
  transition: max-height 0.25s ease-in;
}

.filter-view-container.visible li {
  display: block;
}

.filter-view-container li {
  width: 50%;
  max-width: 200px;
}

.filter-view-container li .filter-button {
  background-color: transparent;
  transition: 0.3s all ease-out;
  color: #3B7092;
  font-family: 'League Gothic';
  border: 0;
  display: block;
  width: 100%;
  padding: 0.7em;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.filter-view-container li .filter-button:hover {
  background-color: #4E8BB3;
  color: #F4F5F6;
}

.filter-view-container li .filter-button.selected {
  background-color: #006ea0;
  color: #F4F5F6;
}

.filter-view-container li .filter-button span {
  display: block;
  text-align: center;
  font-size: 2em;
}

.characters-list, .comics-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

.characters-list .single-hero-link, .characters-list .single-comic-link, .comics-list .single-hero-link, .comics-list .single-comic-link {
  position: relative;
  flex: 0 0 100%;
  text-align: center;
  flex-grow: 1;
  transition: 0.2s all ease-in-out;
}

.characters-list .single-hero-link.not-visible, .characters-list .single-comic-link.not-visible, .comics-list .single-hero-link.not-visible, .comics-list .single-comic-link.not-visible {
  display: none;
}

.characters-list .single-hero-link.visible, .characters-list .single-comic-link.visible, .comics-list .single-hero-link.visible, .comics-list .single-comic-link.visible {
  display: block;
}

@media (min-width: 641px) {
  .characters-list .single-hero-link, .characters-list .single-comic-link, .comics-list .single-hero-link, .comics-list .single-comic-link {
    flex: 0 0 50%;
  }
}

@media (min-width: 961px) {
  .characters-list .single-hero-link, .characters-list .single-comic-link, .comics-list .single-hero-link, .comics-list .single-comic-link {
    flex: 0 0 25%;
  }
}

@media (min-width: 1281px) {
  .characters-list .single-hero-link, .characters-list .single-comic-link, .comics-list .single-hero-link, .comics-list .single-comic-link {
    flex: 0 0 16.666%;
  }
}

.characters-list .single-hero-link .character-link, .characters-list .single-hero-link .comic-link, .characters-list .single-comic-link .character-link, .characters-list .single-comic-link .comic-link, .comics-list .single-hero-link .character-link, .comics-list .single-hero-link .comic-link, .comics-list .single-comic-link .character-link, .comics-list .single-comic-link .comic-link {
  display: block;
  overflow: hidden;
}

.characters-list .single-hero-link img, .characters-list .single-comic-link img, .comics-list .single-hero-link img, .comics-list .single-comic-link img {
  transition: 0.5s all linear;
  transition: 0.5s all linear;
  filter: grayscale(100%);
  width: 100%;
  height: 300px;
  vertical-align: bottom;
}

.characters-list .single-hero-link h3, .characters-list .single-comic-link h3, .comics-list .single-hero-link h3, .comics-list .single-comic-link h3 {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: opacity, background, color;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: #f4f5f6;
  background-color: rgba(244, 245, 246, 0.8);
  color: #222;
  margin-bottom: 0;
  padding: 10px 0;
}

.characters-list .single-hero-link:hover, .characters-list .single-comic-link:hover, .comics-list .single-hero-link:hover, .comics-list .single-comic-link:hover {
  z-index: 5;
  width: 100%;
}

.characters-list .single-hero-link:hover img, .characters-list .single-comic-link:hover img, .comics-list .single-hero-link:hover img, .comics-list .single-comic-link:hover img {
  transform: scale(1.1) rotate(1deg);
  filter: grayscale(0);
}

.characters-list .single-hero-link:hover h3, .characters-list .single-comic-link:hover h3, .comics-list .single-hero-link:hover h3, .comics-list .single-comic-link:hover h3 {
  opacity: 1;
  z-index: 5;
  background: black;
  background-color: #f4f5f6;
  background-color: #f4f5f6;
  color: #F4F5F6;
}

.characters-list .single-hero-link:hover h3:hover, .characters-list .single-comic-link:hover h3:hover, .comics-list .single-hero-link:hover h3:hover, .comics-list .single-comic-link:hover h3:hover {
  color: #3B7092;
}

.comics-list .single-comic-link {
  flex: 0 0 50%;
}

@media (min-width: 641px) {
  .comics-list .single-comic-link {
    flex: 0 0 33.3%;
  }
}

@media (min-width: 961px) {
  .comics-list .single-comic-link {
    flex: 0 0 20%;
  }
}

@media (min-width: 1281px) {
  .comics-list .single-comic-link {
    flex: 0 0 10%;
  }
}

.no-hero-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.no-hero-container img {
  width: 100%;
  max-width: 400px;
}

.single-hero-page .hero-description {
  padding-bottom: 100px;
}

.single-hero-page .hero-name {
  position: relative;
  text-align: left;
  padding: 21rem 2rem 31rem 0;
  margin: 0 auto 2rem auto;
  font-size: 5rem;
  box-shadow: 1px 1px 1px #ccc;
  letter-spacing: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 223, 196, 0.6);
  background-color: #000;
  text-stroke: 1px solid #000;
  background-position: 0 0;
}

.single-hero-page .hero-name .hero-name-text {
  width: 100%;
  display: block;
}

.single-hero-page .hero-description-wiki {
  width: calc(100%/12 * 10);
  margin: 0 auto;
}

.single-hero-page .main-hero-image {
  width: 33.3%;
  padding: 0 10px 0 0;
  float: left;
  text-align: center;
}

.single-hero-page .main-hero-image img {
  width: 100%;
}

.single-hero-page .hero-description-wiki-text {
  padding: 1em;
  width: 66.6%;
  float: left;
}

.single-hero-page .description-summary {
  padding: 2rem;
  text-align: center;
  text-transform: none;
}

.single-hero-page .bio {
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0, 0, 0, 0.8);
}

.comicvine-hero-page .hero-description-wiki {
  float: left;
  width: 33.3%;
}

.comicvine-hero-page .hero-description-wiki-text {
  padding: 1em;
  width: 100%;
  float: none;
  font-size: 21px;
  text-transform: none;
  color: rgba(0, 0, 0, 0.8);
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.comicvine-hero-page .hero-name-text {
  font-size: 50px;
  text-align: center;
}

.comicvine-hero-page .hero-name {
  width: 66.6%;
  float: right;
}

.comicvine-hero-page .hero-description {
  clear: both;
}

.comicvine-hero-page .bio figure {
  margin: 15px auto;
  text-align: center;
  width: auto !important;
  max-width: 100%;
}

.comicvine-hero-page .bio figure img {
  max-width: 100%;
}

.go-back-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3B7092;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  color: white;
  cursor: pointer;
  padding: 11px;
  padding-left: 17px;
  transition: 0.3s all ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.go-back-up:hover {
  background-color: #4E8BB3;
  color: #F4F5F6;
  padding-top: 0;
}

.graph-container {
  padding: 15px;
}

.graph-container text {
  font-size: 11px;
}

.nvtooltip {
  background-color: #f4f5f6;
  border-radius: 5px;
  border: 1px solid rgba(50, 50, 50, 0.4);
}

.nvtooltip > div {
  padding: 20px 20px 20px;
}

.nvtooltip > div h3 {
  margin: 0;
}

/*# sourceMappingURL=maps/styles.css.map */
